.App {
  text-align: center;
}

.App-logo {
  height: 64px;
}

.float{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
  margin-bottom: 5%;
}

#movies img{
  width: 100%;
  height: 370px;
  padding-top: 10%;
}

@media(min-width: 960px;){
  #movies .col-md-3 img{
    height: 240px;
    width: auto;
  }
}

